<!doctype html>
<html lang="en">
  <head>
    <title>NetMovies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-purple-custom flex-md-nowrap p-0 shadow">
      <img class="navbar-brand col-sm-3 col-md-2 mr-0" src="/net-movies-white.png" />
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'nav-link') %>  
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
